.pfp-about {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 95vh;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    scroll-margin-top: 80px;
}

.about-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
}

.pfp {
    border: transparent;
    background-color: #0cc0e0;
    border-color: #1e1e1e;
    border-radius: 30%;
    width: 350px;
    height: 380px;
    
}