.pfp-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 200px;
    gap: 10vw;
    scroll-margin-top: 80px;
}

.about-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
}

.pfp {
    border: transparent;
    background-color: #0cc0e0;
    border-color: #1e1e1e;
    border-radius: 30%;
}