.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
    color: black;
    padding-top: 5vh;
    /*border: ridge;
    border-color: #1e1e1e;
    border-radius: 10%;
    background-color: white;*/
}

.home {
    color: white;
    padding-top: 20vh;
    height: 75vh;
    background-image: url('img/homebackg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.contacts a {
    display: flex;
    border: ridge;
    border-color: black;
    border-radius: 15px;
    border-width: 2px;
    padding: 10px;
    background-color: white;
}

.contacts a:hover {
    transform: translateY(-5px);
    transition-duration: 0.5s;
}

.intro {
    font-size: 2rem;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-bottom: 2%;
    font-weight: bolder;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    
}

.name {
    margin: 20px;
    font-size: clamp(2rem, 8vw, 5rem);
}

.description {
    font-size: clamp(0.5rem, 4vw, 1.2rem);
}

.intro-title {
    font-size: clamp(1rem, 5vw, 2rem);
}